#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: auto;
	background-color: #ffffff;
}

#lightbox {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	color: #151410;
	line-height: 0;
}

#lightbox a,#lightbox a:hover {
	border-bottom: none;
	color: #151410;
	text-decoration: underline;
}

#lightbox a img {
	border: none;
}

#outerImageContainer {
	width: auto;
	height: auto; /* without this line error in IE8 detected */
	margin: 0 auto;
	position: relative;
}

#lightboxImage {
	width: 100%;
	height: 100%;
}

#imageContainerMain {
	margin: 0 auto;
	
	overflow: visible;
	position: relative;
	font-size: 0; /* ie fix - big info bar*/
}

#imageContainer {
	width: 150px;
	border: 9px solid #B4B4B4;
	height: 30px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	font-size: 0; /* ie fix - big info bar*/
	min-height: 100px;
	min-width: 150px;
}

#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	font-size: 10px;
	z-index: 1;
}

#loadingLink {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 150px;
	height: 29px;
	background: url(../pics/loading.gif) center center no-repeat;
	text-indent: -9999px;
}

#imageContainer #loading {
	background: none;
}

#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#imageContainer>#hoverNav {
	left: 0;
}

#nextLinkImg {
	top: 0;
	width: 48px;
	height: 100%;
	position: absolute;
	z-index: 20;
	outline-style: none;
	display: block;
	text-indent: -9999px;
	background: url(../pics/next_no.png) 97% center no-repeat;
}

#prevLinkImg {
	top: 0;
	width: 48px;
	height: 100%;
	position: absolute;
	z-index: 20;
	outline-style: none;
	display: block;
	text-indent: -9999px;
	background: url(../pics/prev_no.png) 5% center no-repeat;
}

* html #prevLinkImg,* html #nextLinkImg {
	background-image: url(data:image/gif;base64,AAAA);
	/* Trick IE into showing hover */
}

#prevLinkImg {
	left: 21px;
}

#nextLinkImg {
	right: 22px;
}

#prevLinkImg:hover,#prevLinkImg.hover,#prevLinkImg:visited:hover {
	background: url(../pics/prev_hover.png) 5% center no-repeat;
}

#nextLinkImg:hover,#nextLinkImg.hover,#nextLinkImg:visited:hover {
	background: url(../pics/next_hover.png) 97% center no-repeat;
}

#imageDataContainer {
	width: auto;
	position: relative;
	left: 0;
	bottom: 48px;
	/*opacity: .6;*/
}

#imageData {
	font: 12px Tahoma, Arial, Helvetica;
	padding: 12px;
	color: #ffffff;
	/*background-color: #000000;*/
	overflow: visible;
	left: 10px;
	position: absolute;
	border-radius: 8px 8px 8px 8px;
	text-align: center;
	_bottom: 0;
	_left: 0;
}

#imageDetails {
	width: 100%;
	float: left;
	padding: 0;
}

#caption {
	display: block;
	text-align: left;
}

#numberDisplay {
	display: none;
	text-align: right;
}

#detailsNav {
	display: none;
}

#prevLinkDetails,#nextLinkDetails,#slideShowControl {
	display: none;
}

#slideShowControl.started {
	background-image: url($rel#conposit.png$);
	background-position: 0 center;
}

#slideShowControl {
	display: block;
	width: 42px;
	height: 49px;
	float: left;
	background-image: url($rel#conposit.png$);
	background-position: -42px center;
	background-repeat: no-repeat;
}

#close {
	position: relative;
	width: 100%;
	height: 0;
	z-index: 21;
}

#closeLink {
	height: 18px;
	margin: 0;
	outline-style: none;
	padding: 0;
	position: absolute;
	right: 36px;
	text-decoration: none;
	top: 13px;
	width: 18px;
	display: block;
	background: url(../pics/close.png) no-repeat;
	z-index: 25;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html>body .clearfix {
	display: inline-block;
	width: 100%;
}

* html .clearfix { /* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
}

#outerImageFrame {
	border: none;
	height: 100%;
	width: 100%;
	position: absolute;
}

#outerImageContainer {
	overflow: visible;
}

#outerImageContainer td {
	text-align: center;
	padding: 0;
}

#lightboxFrameBody {
	background-color: #767676;
}

#outerImageContainer td,#outerImageContainer tr {
	font-size: 0;
	border: 0 none;
}

#outerImageContainer td.tl,#outerImageContainer td.br {
	height: 40px;
	width: 40px;
}

/*
table.goods div.vlightbox {
	display: none;
}*/
/*
table.goods div#vlightbox img {
	display: none;
}

table.goods div#vlightbox div {
	display: none;
}*/